
.wrapper{
    background-color : aliceblue;
    border : 5px solid black;
    width : 1500px;
    
    margin : 0 auto 0 auto;
    
}

.hyper {
    background-color : blue;
    list-style-type : none;
    color : whitesmoke;
}